[submodule "pack/manual/start/marks.nvim"]
	path = nvim/pack/manual/start/marks.nvim
	url = https://github.com/chentoast/marks.nvim.git
[submodule "pack/manual/start/mason-lspconfig.nvim"]
	path = nvim/pack/manual/start/mason-lspconfig.nvim
	url = https://github.com/mason-org/mason-lspconfig.nvim.git
[submodule "pack/manual/start/mason.nvim"]
	path = nvim/pack/manual/start/mason.nvim
	url = https://github.com/mason-org/mason.nvim.git
[submodule "pack/manual/start/oil.nvim"]
	path = nvim/pack/manual/start/oil.nvim
	url = https://github.com/stevearc/oil.nvim.git
[submodule "pack/manual/start/vimtex"]
	path = nvim/pack/manual/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "pack/manual/start/nvim-treesitter"]
	path = nvim/pack/manual/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
	branch = main
[submodule "nvim/pack/manual/start/catppuccin"]
	path = nvim/pack/manual/start/catppuccin
	url = https://github.com/catppuccin/nvim.git
[submodule "nvim/pack/manual/start/smart-splits.nvim"]
	path = nvim/pack/manual/start/smart-splits.nvim
	url = https://github.com/mrjones2014/smart-splits.nvim.git
[submodule "nvim/pack/manual/start/mini.nvim"]
	path = nvim/pack/manual/start/mini.nvim
	url = https://github.com/echasnovski/mini.nvim.git
[submodule "nvim/pack/manual/start/nvim-lspconfig"]
	path = nvim/pack/manual/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
