[submodule "pack/manual/start/bufdelete.nvim"]
	path = nvim/pack/manual/start/bufdelete.nvim
	url = https://github.com/famiu/bufdelete.nvim.git
[submodule "pack/manual/start/LuaSnip"]
	path = nvim/pack/manual/start/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip.git
[submodule "pack/manual/start/marks.nvim"]
	path = nvim/pack/manual/start/marks.nvim
	url = https://github.com/chentoast/marks.nvim.git
[submodule "pack/manual/start/mason-lspconfig.nvim"]
	path = nvim/pack/manual/start/mason-lspconfig.nvim
	url = https://github.com/mason-org/mason-lspconfig.nvim.git
[submodule "pack/manual/start/mason.nvim"]
	path = nvim/pack/manual/start/mason.nvim
	url = https://github.com/mason-org/mason.nvim.git
[submodule "pack/manual/start/nvim-lspconfig"]
	path = nvim/pack/manual/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/manual/start/oil.nvim"]
	path = nvim/pack/manual/start/oil.nvim
	url = https://github.com/stevearc/oil.nvim.git
[submodule "pack/manual/start/plenary.nvim"]
	path = nvim/pack/manual/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "pack/manual/start/telescope.nvim"]
	path = nvim/pack/manual/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "pack/manual/start/vim-startify"]
	path = nvim/pack/manual/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "pack/manual/start/vimtex"]
	path = nvim/pack/manual/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "pack/manual/start/nvim-surround"]
	path = nvim/pack/manual/start/nvim-surround
	url = https://github.com/kylechui/nvim-surround.git
[submodule "pack/manual/start/nvim-treesitter"]
	path = nvim/pack/manual/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
	branch = main
[submodule "nvim/pack/manual/start/nvim-cmp"]
	path = nvim/pack/manual/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "nvim/pack/manual/start/cmp-nvim-lsp"]
	path = nvim/pack/manual/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "nvim/pack/manual/start/cmp_luasnip"]
	path = nvim/pack/manual/start/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip.git
[submodule "nvim/pack/manual/start/telescope-undo.nvim"]
	path = nvim/pack/manual/start/telescope-undo.nvim
	url = https://github.com/debugloop/telescope-undo.nvim.git
[submodule "nvim/pack/manual/start/catppuccin"]
	path = nvim/pack/manual/start/catppuccin
	url = https://github.com/catppuccin/nvim.git
[submodule "nvim/pack/manual/start/smart-splits.nvim"]
	path = nvim/pack/manual/start/smart-splits.nvim
	url = https://github.com/mrjones2014/smart-splits.nvim.git
